html,
body {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  overflow: auto;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
[data-autopreview-wrapper]::-webkit-scrollbar {
  width: 0 !important;
}

/* [data-autopreview] {
  visibility: hidden !important;
  background-color: transparent !important;
}

[data-autopreview].autopreview-mounted {
  visibility: visible !important;
  background-color: inherit !important;
} */

[data-autopreview].align-left-top,
[data-autopreview].align-center {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

[data-autopreview].align-left-top {
  justify-content: flex-start;
  align-items: flex-start;
}

[data-autopreview].align-center {
  justify-content: center;
  align-items: center;
}

[data-autopreview].align-left-top > [data-autopreview-wrapper] {
  text-align: left;
  width: 100%;
}

[data-autopreview].align-center > [data-autopreview-wrapper] {
  text-align: center;
  width: initial;
}

[data-autopreview-wrapper] {
  overflow: auto;
}
